	#screen 
	{
		width: 800px;
		height: 600px;
		/*position: absolute;*/
		float: left;
		left: 0;
		top: 0;
		z-index: 2;
	}
	#control-panel
	{
		float: left;
		background-color: #CCFFCC;
		min-width: 300px;
	}

    
.prop-column
{
    display: inline-block;
}    


.texture-canvas-obj
{
    width: 320px;
    height: 240px;
}


.texture-canvas
{
    float: left;
}

.texture-info
{
    float: left;
    padding: 10px 10px;
}